@media only screen and (min-width: 768px){
	.logo{
		height: 400px;
	}
} 
@media only screen and (max-width: 768px){
	.logo{
		height: 200px;
	}		
} 
.logo{
	background-image: url(/campelada/web/teste/img/campelada.png);
	background-repeat:no-repeat;
	background-position: center;
}
p{
	text-align: center;
}